.about-wrapper {
  padding-top: 45px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 80px;
	@media screen and(min-width: 992px) {
    padding-top: 90px;
		flex-direction: row;
	}
}

.about-left-block {
	@media screen and(min-width: 1200px) {
		margin-right: 84px;
	}
}

.about-title {
	font-weight: bold;
	font-size: 40px;
	line-height: 56px;
	color: #2c1500;
	margin-bottom: 16px;
	@media screen and(min-width: 1200px) {
		width: 522px;
	}
}

.about-description {
	font-size: 16px;
	line-height: 28px;
	color: #2c1500;
	margin-bottom: 74px;
	@media screen and(min-width: 1200px) {
		width: 507px;
	}
}

#about-image-1 {
	@media screen and(min-width: 1200px) {
		width: 568px;
		height: 250px;
	}
}

#about-image-2 {
	@media screen and(min-width: 1200px) {
		width: 513px;
		height: 100%;
	}
}
